body{
    margin: 0;
    padding: 0;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  .navbar >li {
    float: left;
  }
  
  .navbar >li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  .navbar > li a:hover {
    background-color: #111;
  }


  .list-dogs {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    
  }

  .dog{
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    border-radius: 5px;
    width: 26vh;
    height: auto;
  }

  .dog > img{
    width: 25vh;
    height: 10vh;
    height:auto;
    border: solid;
    border-width: 2px;
    border-color: black;
    border-radius: 5px;
    
  }

  .checkout{
    display: flex;
    flex-direction: column;
}

button{
    border-width: 2px;
    border-style: solid;
    border-color: black;
    border-radius: 5px;
    background: white;
}

button:hover{
    text-decoration: underline;

}